config MODULES
  bool "mod"
  default y
  option modules


choice
        prompt "Choose which shell is aliased to 'sh' name"

# note: cannot use "select ASH" here, it breaks "make allnoconfig"
config FEATURE_SH_IS_ASH
    tristate "ash"

config FEATURE_SH_IS_HUSH
                          tristate "hush"

config FEATURE_SH_IS_NONE
           tristate "none"

endchoice


