config X
	bool ""

choice
        prompt "Choose which shell is aliased to 'sh' name"
        default FEATURE_SH_IS_ASH
	depends on X

# note: cannot use "select ASH" here, it breaks "make allnoconfig"
config FEATURE_SH_IS_ASH
    bool "ash"

config FEATURE_SH_IS_HUSH
                          bool "hush"

config FEATURE_SH_IS_NONE
           bool "none"

endchoice

config Y
	bool
	depends on X
	default y
