choice
        prompt "Choose which shell is aliased to 'sh' name"
        default FEATURE_SH_IS_ASH

# note: cannot use "select ASH" here, it breaks "make allnoconfig"
config FEATURE_SH_IS_ASH
    depends on ASH
    bool "ash"
    depends on !NOMMU

config FEATURE_SH_IS_HUSH
                          depends on HUSH
                          bool "hush"

config FEATURE_SH_IS_NONE
           bool "none"

endchoice


config HUSH
   bool "hush"

config ASH
   bool "ash"

config NOMMU
   bool "nommu"
