choice
        prompt "Kernel command line"
        optional
        default CMDLINE_OVERWRITE
        help
          Setting this option allows the kernel command line arguments
          to be set.

config CMDLINE_OVERWRITE
        bool "Overwrite bootloader kernel arguments"
        help
          Given string will overwrite any arguments passed in by
          a bootloader.

config CMDLINE_EXTEND
        bool "Extend bootloader kernel arguments"
        help
          Given string will be concatenated with arguments passed in
          by a bootloader.

endchoice

