config I
    int "int"
#    default 100
#default is needed for `conf --olddefconfig` to work. it won't identify that the value is not set but would require you to set it in interactive mode

config J
    int
    default 1 if B
    default 0

config K
    int


config B
        bool "Provide compatible behavior for rare corner cases (bigger code)"
        default n
