config NO_HZ_FULL_SYSIDLE_SMALL
    int "Number of CPUs above which large-system approach is used"
    depends on NO_HZ_FULL_SYSIDLE
    range 1 NR_CPUS


config NO_HZ_FULL_SYSIDLE_SMALL2
    int "Number of CPUs above which large-system approach is used"
    range FOO NR_CPUS


config A
  bool "a"


