config MODULES
  bool "a"
  default y
  option modules


menuconfig PCI
        bool "PCI support"
        default n

if PCI

config PCI_NR_FUNCTIONS
        bool "Maximum number of PCI functions (1-4096)"

endif   # PCI


menuconfig VIRTUALIZATION
        def_bool y
        prompt "KVM"

if VIRTUALIZATION

config KVM
        def_tristate y
        prompt "Kernel-based Virtual Machine (KVM) support"

endif
