#for some reason kconfig infers a choice here (or at least prints it as one)

config MODULES
  bool "mod"
  default y
  option modules


config I2C_STUB
        tristate "I2C/SMBus Test Stub"
        depends on m
        default 'n'
        help
          This module may be useful to developers of SMBus client drivers,
          especially for certain kinds of sensor chips.

          If you do build this module, be sure to read the notes and warnings
          in <file:Documentation/i2c/i2c-stub>.

          If you don't know what to do here, definitely say N.

