#adapted from linux

config IO_DELAY_TYPE_0X80
        int
        default "0"

config IO_DELAY_TYPE_0XED
        int
        default "1"

choice X
	prompt ""
	default A

config A
	bool ""

config B
	bool ""

endchoice 

if B
config DEFAULT_IO_DELAY_TYPE
        int
        default IO_DELAY_TYPE_0X80
endif

if A
config DEFAULT_IO_DELAY_TYPE
        int
        default IO_DELAY_TYPE_0XED
endif

