config PANEL
        bool "Parallel port LCD/Keypad Panel support"


config PANEL_PROFILE
        int "Default panel profile (0-5, 0=custom)"
        depends on PANEL
        range 0 5
        default "5"



config PANEL_LCD
        depends on PANEL && PANEL_PROFILE="0"
        int "LCD type (0=none, 1=custom, 2=old //, 3=ks0074, 4=hantronix, 5=Nexcom)"
        range 0 5
        default 0

config PANEL_LCD_HEIGHT
        depends on PANEL && PANEL_PROFILE="0" && PANEL_LCD="1"
        int "Number of lines on the LCD (1-2)"
        range 1 2
        default 2

