config ARCH_SUPPORTS_DEBUG_PAGEALLOC
    bool ""

config DEBUG_PAGEALLOC
        bool "Debug page memory allocations"
        select PAGE_POISONING if !ARCH_SUPPORTS_DEBUG_PAGEALLOC
        select PAGE_GUARD if ARCH_SUPPORTS_DEBUG_PAGEALLOC


config WANT_PAGE_DEBUG_FLAGS
        bool

config PAGE_POISONING
        bool
        select WANT_PAGE_DEBUG_FLAGS

config PAGE_GUARD
        bool
        select WANT_PAGE_DEBUG_FLAGS
