choice
        prompt "Default security module"
        default DEFAULT_SECURITY_SELINUX if SECURITY_SELINUX
        default DEFAULT_SECURITY_TOMOYO if SECURITY_TOMOYO
        default DEFAULT_SECURITY_APPARMOR if SECURITY_APPARMOR
        default DEFAULT_SECURITY_DAC

        help
          Select the security module that will be used by default if the
          kernel parameter security= is not specified.

        config DEFAULT_SECURITY_SELINUX
                bool "SELinux" 
		depends on SECURITY_SELINUX=y

        config DEFAULT_SECURITY_TOMOYO
                bool "TOMOYO" if SECURITY_TOMOYO=y

        config DEFAULT_SECURITY_APPARMOR
                bool "AppArmor" if SECURITY_APPARMOR=y

        config DEFAULT_SECURITY_DAC
                bool "Unix Discretionary Access Controls"

endchoice

config SECURITY_SELINUX
	bool "b"

config SECURITY_TOMOYO
	bool "t"

config SECURITY_APPARMOR
	bool "a"
