config A
        bool "Enable options for full-blown desktop systems"
        default y
        help
          Enable options and features which are not essential.
          Select this only if you plan to use busybox on full-blown
          desktop machine with common Linux distro, not on an embedded box.

config B
        bool "Provide compatible behavior for rare corner cases (bigger code)"
        default n
        select A
        help
          This option makes grep, sed etc handle rare corner cases
          (embedded NUL bytes and such). This makes code bigger and uses
          some GNU extensions in libc. You probably only need this option
          if you plan to run busybox on desktop.
