config A
        bool 
        default y

config C
        bool 
        default n

config B
        bool "Provide compatible behavior for rare corner cases (bigger code)"
        default n
        select A 
        select C
        help
          This option makes grep, sed etc handle rare corner cases
          (embedded NUL bytes and such). This makes code bigger and uses
          some GNU extensions in libc. You probably only need this option
          if you plan to run busybox on desktop.
