#modeled after INITRAMFS_...

config SOURCE
        string "s"
        default ""

config UID
        int "uid"
        depends on SOURCE!=""
        default "0"

choice
    prompt "choice" if SOURCE!=""

config NONE
    bool "none"

config GZIP
    bool "gzip"
    depends on RD_GZIP

endchoice

config RD_GZIP
    bool "gzip2"
    default y