config INITRAMFS_SOURCE
        string "Initramfs source file(s)"
        default ""

config INITRAMFS_ROOT_UID
        int "User ID to map to 0 (user root)"
        depends on INITRAMFS_SOURCE!=""
        default "0"

choice
    prompt "A" if INITRAMFS_SOURCE!=""

config CA
    bool "None"

config CB
    bool "B"


endchoice

