config MODULES
  bool
  default y
  option modules


menu "I2C"

config I2C
        tristate "I2C support"

if I2C

config I2C_HELPER_AUTO
        bool "Autoselect pertinent helper modules"
        default y

endif


menu "I2C Algorithms"
        visible if !I2C_HELPER_AUTO

config I2C_ALGOBIT
        tristate "I2C bit-banging interfaces"

endmenu

endmenu
