config MODULES
 bool "mod"
  option modules



config A
       tristate 
        depends on B || C
        default y

config B
        tristate "Provide compatible behavior for rare corner cases (bigger code)"
        default n
        help
          This option makes grep, sed etc handle rare corner cases
          (embedded NUL bytes and such). This makes code bigger and uses
          some GNU extensions in libc. You probably only need this option
          if you plan to run busybox on desktop.


config C
      tristate "xy"
      default n
      help
        This...
